#intro {
    background-image: url("/latest.php");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

#display {
    background-image: url("/latest.php");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    filter: blur(10px);
    margin: -25px;
    width: calc(100vw + 50px);
    z-index: -1;
    opacity: .75;
}

#display-outer {
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

#intro-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
}

.last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    border-bottom: gray 1px solid;
}

@media (max-width: 500px) {
    .last {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.last-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html, body {
    overflow-x: hidden;
}

nav, nav * {
    z-index: 99 !important;
}

#box {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#display-outer *, #box * {
    z-index: 0 !important;
}

.navbar-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 900px) {
    .navbar-nav {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .navbar-nav {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .navbar-nav {
        grid-template-columns: 1fr;
    }
}